:root{

--primary:#1D3557;
--secondary:#457B9D;
--background:#F1FAEE;
--accent:#E63946;
--text:#333;

}


*{

box-sizing:border-box;

}

body{
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
.logo span{
    font-family: "Playfair Display", serif;
}

body{

margin:0;

font-family:Poppins,Arial,sans-serif;

background:var(--background);

color:var(--text);

}



header{

background:var(--primary);

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:1rem;

}



.logo{

display:flex;

align-items:center;

gap:10px;

font-weight:bold;

}



.logo img{

width:150px;

height:75px;

}



#menu-button{

background:none;

border:none;

color:white;

font-size:2rem;

}



nav{

display:none;

flex-direction:column;

}



nav.open{

display:flex;

}



nav a{

color:white;

text-decoration:none;

padding:10px;

}



main{

max-width:1100px;

margin:auto;

padding:1rem;

}



.hero img{

width:100%;

border-radius:10px;

}



.hero h1{

font-family:"Playfair Display",serif;

font-size:2.5rem;

}



.button{

display:inline-block;

background:var(--accent);

color:white;

padding:12px 25px;

border-radius:8px;

text-decoration:none;

}



.cards{

display:grid;

gap:1rem;

}



.cards article{

background:white;

padding:1rem;

border-radius:10px;

}



.weather{

background:white;

padding:1rem;

border-radius:10px;

}



footer{

background:var(--primary);

color:white;

text-align:center;

padding:1rem;

}



footer a{

color:white;

}

.card img{

width:100%;

border-radius:8px;

}



.card button{

background:#E63946;

color:white;

border:none;

padding:10px;

border-radius:5px;

cursor:pointer;

}



dialog{

border:none;

border-radius:10px;

padding:2rem;

max-width:400px;

}



dialog::backdrop{

background:rgba(0,0,0,.5);

}



#fechar-modal{

float:right;

}

form{

display:flex;

flex-direction:column;

gap:10px;

}



input,
textarea,
button{

padding:10px;

font-size:1rem;

}



textarea{

height:100px;

}


form button{

background:#457B9D;

color:white;

border:none;

cursor:pointer;

}